<img class="img-fluid float-end" src="{{ "/img/dotnet-bot/dotnet-bot_asp.net.png" | url }}" alt="" />

<p>
    The Houma-Thibodaux .NET User Group, or HTDNUG, is a Microsoft user group for the residents and employees in and around the parishes 
    of Terrebonne and Lafourche. The goal of the group is to help members of the Microsoft development community in the local region 
    network with their peers and learn more about the technologies they work with daily. The group caters to professionals, hobbyists, 
    and students alike.
</p>

<p>The group will focus on Microsoft development and it's surrounding technologies such as:</p>

<ul>
    <li>Visual Studio</li>
    <li>.NET Framework - .NET Core, ASP.NET, Blazor, etc.</li>
    <li>Web development - HTML, CSS, JS, Angular, etc.</li>
    <li>SQL Server - T-SQL, SSRS, SSIS, SSAS, etc.</li>
    <li>MAUI/Xamarin</li>
    <li>PowerShell</li>
</ul>

<h3>Meeting Information</h3>


<img class="img-fluid float-end" src="{{ "/img/dotnet-bot/dotnet-bot_presenting.png" | url }}" alt="" />

<p>Monthly meetings will be held at 6pm on the 2nd Thursday of every month. Meetings are free to attend.</p>

<p>
    Unless otherwise noted, the meeting agenda is as follows:<br />
    6:00 to 6:30 : Eat, Greet, and Open Discussion <br />
    6:30 to 8:00 : Topic Discussion and/or Presentation
</p>

<p>
    The "Eat &amp; Greet" has been established to allow members to grab a bite to eat, get settled in, mingle, etc. before we start 
    the discussion for the evening. Food and drink is not provided unless otherwise noted on the meeting announcement.
</p>

<p>
    The "Open Discussion" section will be general Q&amp;A or discussion. This section of the meeting will allow members to tell us 
    what topics they'd like covered, ask questions to their fellow members, etc.
</p>

<p>
    The "Topic Discussion and/or Presentation" will be the bulk of the meeting and will change from month to month. We'd like to get 
    some speakers but our group will focus on getting hands on with the technologies we're discussing.
</p>
